<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.mapper.MissionMapper">
    <select id="getMission" parameterType="Integer" resultType="com.xht.pojo.Mission">
        select * from mission where uid=#{uid} and state &lt;2 and distribute =0  order by state desc
    </select>
    <select id="getMissionByState"  resultType="com.xht.pojo.Mission">
        select * from mission where uid=#{uid} and state=#{state} and distribute =0
    </select>

    <select id="getMissionByGeoHash" parameterType="String" resultType="com.xht.pojo.Mission">
        select * from mission where geohash like concat(#{geohash},'%')
    </select>

    <select id="getAuctionMission" resultType="com.xht.pojo.Mission">
         select * from mission where state &lt;2 and state >0 and geohash
        like concat(#{geohash},'%') and members>0
        and id not in (select mid from m_details where wid=#{wid}) and deadline > now() and distribute = 1
        and id not in (select mid from worker_auction where wid=#{wid})
    </select>

    <select id="getOwnAuction" parameterType="int" resultType="com.xht.pojo.Mission">
         select * from mission m where uid=#{uid} and distribute =1
    </select>

    <select id="getDistributeMission" resultType="com.xht.pojo.Mission">
        select * from mission where state=0 or state =1 order by priority,state asc limit 20;
    </select>

    <insert id="addMission" parameterType="Mission">
        insert into mission(uid,name,demand,money,form,deadline,message,state,longtitude,latitude,members,geohash,address,distribute)
        values(#{uid},#{name},#{demand},#{money},#{form},#{deadline},#{message},0,#{longtitude},#{latitude},#{members},#{geohash},#{address},#{distribute})
    </insert>

    <select id="getMissionById" parameterType="Integer" resultType="com.xht.pojo.Mission">
        select * from mission where id=#{id}
    </select>

    <update id="updateMission" parameterType="Mission">
        update mission set name=#{name},demand=#{demand},money=#{money},
        form=#{form},deadline=#{deadline},message=#{message},state=#{state},longtitude=#{longtitude},latitude=#{latitude},
        members=#{members},geohash=#{geohash},address=#{address}
        where id=#{id}
    </update>

    <delete id="deleteMission" parameterType="Integer">
        delete from mission where id=#{id}
    </delete>

    <update id="updateMissionStateBatch" parameterType="java.util.List">
        <foreach collection="list" separator=";" close="" open="" item="mission" index="index">
            update mission
            <set>
                state=1
            </set>
            where id=#{mission.id}
        </foreach>
    </update>
    <update id="updateMissionState">
        update mission set state=#{state} where id=#{id}
    </update>
    <update id="updateMissionMembers">
        update mission set members=#{members} where id=#{id}
    </update>

    <select id="checkMissionState" parameterType="Integer" resultType="Integer">
        select members from mission where id=#{id}
    </select>

    <update id="updatepriority" parameterType="Integer" >
        update mission set priority=priority+1 where id=#{id}
    </update>

    <select id="getAuctionMember" parameterType="Integer" resultType="Integer">
        select count(*) from worker_auction where mid=#{mid}
    </select>
</mapper>
